<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <form action="/search" method="get" class="submitForm">
        <input type="text" name="searchTitle" placeholder="Search for a book here">
        <button id="searchButton" type="submit">Search Title</button>
    </form>
    <div class="book-section">
        <%- books.map(book=> `
            <div class="book-element">
                <hr>
                <h2>${book.title}</h2>
                <h3>Author: ${book.author}</h3>
                <p>Average ratings: ${book.ratings_average}</p>
                <p>Year published: ${book.publish_year}</p>
                <p>ISBN: ${book.isbn}</p>
                <p><i>${book.first_sentence}</i></p>
                <a class="book_cover" href="${book.image_link}"><img src="${book.image_link}" alt="${book.title}"></a>
                <hr>
            </div>
            `).join('') %>
    </div>
    
</body>

</html>