<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>Books I like</h1>
    <div class="book-section">
        <%- books.map(book => `
        <hr>
            <h2>${book.title}</h2>
            <h3>Author: ${book.author}</h3>
            <p>Average ratings: ${book.ratings_average}</p>
            <p>Year published: ${book.publish_year}</p>
            <p>ISBN: ${book.isbn}</p>
        <hr>
        `).join('') %>
    </div>
    <form action="/search" method="get">
        <input type="text" name="searchTitle" placeholder="Search for a book here">
        <button type="submit">Search</button>
    </form>
</body>
</html>